<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Db.Properties.Settings.cs" connectionString="DATA SOURCE=CASH;PERSIST SECURITY INFO=True;USER ID=cashin_new"
            providerName="Oracle.DataAccess.Client" />
    </connectionStrings>
</configuration>