<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CashIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <CashIn.Properties.Settings>
      <setting name="OracleDb" serializeAs="String">
        <value>cash</value>
      </setting>
      <setting name="OracleUser" serializeAs="String">
        <value>cashin_new</value>
      </setting>
      <setting name="OraclePassword" serializeAs="String">
        <value>cashin_new</value>
      </setting>
    </CashIn.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CashInServiceBinding" maxBufferPoolSize="50000000" maxReceivedMessageSize="50000000" messageEncoding="Text" transferMode="Buffered">
          <readerQuotas maxDepth="500000000" maxStringContentLength="500000000" maxArrayLength="500000000" maxBytesPerRead="500000000" maxNameTableCharCount="500000000"/>
          <security mode="None">
            <transport>
              <!-- <extendedProtectionPolicy policyEnforcement="Never" /> -->
            </transport>
          </security>
        </binding>
        <binding name="AdminServiceBinding" maxBufferPoolSize="50000000" maxReceivedMessageSize="50000000" messageEncoding="Text" transferMode="Buffered">
        <readerQuotas maxDepth="500000000" maxStringContentLength="500000000" maxArrayLength="500000000" maxBytesPerRead="500000000" maxNameTableCharCount="500000000"/>
        <security mode="None">
          <transport>
            <!-- <extendedProtectionPolicy policyEnforcement="Never" /> -->
          </transport>
        </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="SOAP">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="2147483647" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true">
            <!-- <extendedProtectionPolicy policyEnforcement="Never" /> -->
          </httpTransport>
        </binding>
        <binding name="AdminSOAP">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="2147483647" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true">
            <!-- <extendedProtectionPolicy policyEnforcement="Never" /> -->
          </httpTransport>
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service name="CashInCore.CashInServer" behaviorConfiguration="CashInServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://cashin.terminal.server:4443/CashIn"/>
          </baseAddresses>
        </host>
        <endpoint address="" name="SOAP" binding="basicHttpBinding" bindingConfiguration="CashInServiceBinding" contract="CashInCore.ICashInServer"/>
      </service>
      <service name="CashInCore.CashInAdminServer" behaviorConfiguration="AdminBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://cashin.terminal.server:4443/CashInAdminService"/>
          </baseAddresses>
        </host>
        <endpoint address="" name="AdminSOAP" binding="basicHttpBinding" bindingConfiguration="AdminServiceBinding" contract="CashInCore.ICashInAdminServer"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CashInServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
          <serviceThrottling maxConcurrentCalls="1000"/>
        </behavior>
        <behavior name="AdminBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
          <serviceThrottling maxConcurrentCalls="50"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
