<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogFile="${basedir}/file.txt">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->
  <variable name="VerboseLayout" value="${date:format=dd-MM HH\:mm\:ss.fff} [${level:uppercase=true:padding=-5}] ${callsite:className=True:fileName=False:includeSourcePath=False:methodName=True} - ${message}${newline}${exception:format=ToString,StackTrace}${newline}" />  
  <variable name="HeaderLayout" value="${longdate} Logging started${newline}"/>
  <variable name="FooterLayout" value="${newline}${longdate} Shutdown${newline}"/>
  <variable name="LogDirectory" value="${basedir}/log/"/>
  
  <targets async="true">
    <target name="infoFileTerminal" xsi:type="File" fileName="${LogDirectory}${processname}_terminal_info.txt"
           layout="${VerboseLayout}"
           archiveFileName="${LogDirectory}${processname}_info_${date:format=dd-MM-yyyy}_{#####}.txt" archiveEvery="Day" encoding="utf-8" maxArchiveFiles="999" archiveNumbering="Sequence"
           header="${HeaderLayout}" keepFileOpen="true"
           footer="${FooterLayout}" lineEnding="None" />
    <target name="errorFileTerminal" xsi:type="File" fileName="${LogDirectory}${processname}_terminal_error.txt"
            layout="${VerboseLayout}"
            archiveFileName="${LogDirectory}${processname}_error_${date:format=dd-MM-yyyy}_{#####}.txt" archiveEvery="Day" encoding="utf-8" maxArchiveFiles="999" archiveNumbering="Sequence"
            header="${HeaderLayout}" keepFileOpen="true"
            footer="${FooterLayout}" lineEnding="None" />
    <target name="warnFileTerminal" xsi:type="File" fileName="${LogDirectory}${processname}_terminal_warn.txt"
            layout="${VerboseLayout}"
            archiveFileName="${LogDirectory}${processname}_warn_${date:format=dd-MM-yyyy}_{#####}.txt" archiveEvery="Day" encoding="utf-8" maxArchiveFiles="999" archiveNumbering="Sequence"
            header="${HeaderLayout}" keepFileOpen="true"
            footer="${FooterLayout}" lineEnding="None" />
    <target name="debugFileTerminal" xsi:type="File" fileName="${LogDirectory}${processname}_terminal_debug.txt"
            layout="${VerboseLayout}"
            archiveFileName="${LogDirectory}${processname}_debug_${date:format=dd-MM-yyyy}_{#####}.txt" archiveEvery="Day" encoding="utf-8" maxArchiveFiles="999" archiveNumbering="Sequence"
            header="${HeaderLayout}" keepFileOpen="true"
            footer="${FooterLayout}" lineEnding="None" />

    <target name="infoFileAdmin" xsi:type="File" fileName="${LogDirectory}${processname}_admin_info.txt"
           layout="${VerboseLayout}"
           archiveFileName="${LogDirectory}${processname}_info_${date:format=dd-MM-yyyy}_{#####}.txt" archiveEvery="Day" encoding="utf-8" maxArchiveFiles="999" archiveNumbering="Sequence"
           header="${HeaderLayout}" keepFileOpen="true"
           footer="${FooterLayout}" lineEnding="None" />
    <target name="errorFileAdmin" xsi:type="File" fileName="${LogDirectory}${processname}_admin_error.txt"
            layout="${VerboseLayout}"
            archiveFileName="${LogDirectory}${processname}_error_${date:format=dd-MM-yyyy}_{#####}.txt" archiveEvery="Day" encoding="utf-8" maxArchiveFiles="999" archiveNumbering="Sequence"
            header="${HeaderLayout}" keepFileOpen="true"
            footer="${FooterLayout}" lineEnding="None" />
    <target name="warnFileAdmin" xsi:type="File" fileName="${LogDirectory}${processname}_admin_warn.txt"
            layout="${VerboseLayout}"
            archiveFileName="${LogDirectory}${processname}_warn_${date:format=dd-MM-yyyy}_{#####}.txt" archiveEvery="Day" encoding="utf-8" maxArchiveFiles="999" archiveNumbering="Sequence"
            header="${HeaderLayout}" keepFileOpen="true"
            footer="${FooterLayout}" lineEnding="None" />
    <target name="debugFileAdmin" xsi:type="File" fileName="${LogDirectory}${processname}_admin_debug.txt"
            layout="${VerboseLayout}"
            archiveFileName="${LogDirectory}${processname}_debug_${date:format=dd-MM-yyyy}_{#####}.txt" archiveEvery="Day" encoding="utf-8" maxArchiveFiles="999" archiveNumbering="Sequence"
            header="${HeaderLayout}" keepFileOpen="true"
            footer="${FooterLayout}" lineEnding="None" />

    <target name="infoFileAdmin" xsi:type="File" fileName="${LogDirectory}${processname}_admin_info.txt"
           layout="${VerboseLayout}"
           archiveFileName="${LogDirectory}${processname}_info_${date:format=dd-MM-yyyy}_{#####}.txt" archiveEvery="Day" encoding="utf-8" maxArchiveFiles="999" archiveNumbering="Sequence"
           header="${HeaderLayout}" keepFileOpen="true"
           footer="${FooterLayout}" lineEnding="None" />
    <target name="errorFileAdmin" xsi:type="File" fileName="${LogDirectory}${processname}_admin_error.txt"
            layout="${VerboseLayout}"
            archiveFileName="${LogDirectory}${processname}_error_${date:format=dd-MM-yyyy}_{#####}.txt" archiveEvery="Day" encoding="utf-8" maxArchiveFiles="999" archiveNumbering="Sequence"
            header="${HeaderLayout}" keepFileOpen="true"
            footer="${FooterLayout}" lineEnding="None" />
    <target name="warnFileAdmin" xsi:type="File" fileName="${LogDirectory}${processname}_admin_warn.txt"
            layout="${VerboseLayout}"
            archiveFileName="${LogDirectory}${processname}_warn_${date:format=dd-MM-yyyy}_{#####}.txt" archiveEvery="Day" encoding="utf-8" maxArchiveFiles="999" archiveNumbering="Sequence"
            header="${HeaderLayout}" keepFileOpen="true"
            footer="${FooterLayout}" lineEnding="None" />
    <target name="debugFileAdmin" xsi:type="File" fileName="${LogDirectory}${processname}_admin_debug.txt"
            layout="${VerboseLayout}"
            archiveFileName="${LogDirectory}${processname}_debug_${date:format=dd-MM-yyyy}_{#####}.txt" archiveEvery="Day" encoding="utf-8" maxArchiveFiles="999" archiveNumbering="Sequence"
            header="${HeaderLayout}" keepFileOpen="true"
            footer="${FooterLayout}" lineEnding="None" />
    
    <target xsi:type="ColoredConsole"
          name="console"
          layout="${VerboseLayout}"
            header="${HeaderLayout}"
            footer="${FooterLayout}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="debugFileTerminal">
      <filters>
        <when condition="contains('${callsite}','CashInAdminServer')" action="Ignore" />
      </filters>
    </logger>
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="*" minlevel="Info" writeTo="infoFileTerminal">
      <filters>
        <when condition="contains('${callsite}','CashInAdminServer')" action="Ignore" />
      </filters>
    </logger>
    <logger name="*" minlevel="Warn" writeTo="warnFileTerminal">
      <filters>
        <when condition="contains('${callsite}','CashInAdminServer')" action="Ignore" />
      </filters>
    </logger>
    <logger name="*" minlevel="Error" writeTo="errorFileTerminal">
      <filters>
        <when condition="contains('${callsite}','CashInAdminServer')" action="Ignore" />
      </filters>
    </logger>
    <logger name="*" minlevel="Debug" writeTo="debugFileAdmin">
      <filters>
        <when condition="contains('${callsite}','CashInServer')" action="Ignore" />
      </filters>
    </logger>
    <logger name="*" minlevel="Info" writeTo="infoFileAdmin">
      <filters>
        <when condition="contains('${callsite}','CashInServer')" action="Ignore" />
      </filters>
    </logger>
    <logger name="*" minlevel="Warn" writeTo="warnFileAdmin">
      <filters>
        <when condition="contains('${callsite}','CashInServer')" action="Ignore" />
      </filters>
    </logger>
    <logger name="*" minlevel="Error" writeTo="errorFileAdmin">
      <filters>
        <when condition="contains('${callsite}','CashInServer')" action="Ignore" />
      </filters>
    </logger>
    </rules>
</nlog>