<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CashInTerminal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="CashInTerminal.Properties.Settings.TerminalConnectionString"
      connectionString="data source=&quot;C:\Users\PVParpura\Documents\Visual Studio 2010\Projects\CashIn\CashInTerminal\Terminal.s3db&quot;"
      providerName="System.Data.SQLite" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SOAP" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:4443/CashIn" binding="basicHttpBinding"
          bindingConfiguration="SOAP" contract="CashIn.CashInServer"
          name="SOAP" />
    </client>
  </system.serviceModel>
  <userSettings>
    <CashInTerminal.Properties.Settings>
      <setting name="DevicePort" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="PrivateKey" serializeAs="String">
        <value />
      </setting>
      <setting name="PublicKey" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPublicKey" serializeAs="String">
        <value />
      </setting>
      <setting name="TerminalCode" serializeAs="String">
        <value />
      </setting>
    </CashInTerminal.Properties.Settings>
  </userSettings>
</configuration>