<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="TestConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <TestConsole.Properties.Settings>
            <setting name="OracleDb" serializeAs="String">
                <value>cash</value>
            </setting>
            <setting name="OracleUser" serializeAs="String">
                <value>cashin_new</value>
            </setting>
            <setting name="OraclePassword" serializeAs="String">
                <value>cashin_new</value>
            </setting>
        </TestConsole.Properties.Settings>
    </userSettings>
</configuration>
