<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogFile="${basedir}/file.txt">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets async="true">
    <target name="infoFile" xsi:type="File" fileName="${basedir}/log/${processname}_info.txt"
           layout="${date:format=dd-MM HH\:mm\:ss.fff} [${level:uppercase=true:padding=-5}] ${callsite:className=True:fileName=False:includeSourcePath=False:methodName=True} - ${message}${newline}${exception:format=ToString,StackTrace}"
           archiveFileName="${basedir}/log/${processname}_info_${date:format=dd-MM-yyyy}_{#####}.txt" archiveEvery="Day" encoding="utf-8" maxArchiveFiles="999" archiveNumbering="Sequence"
           header="${longdate} Logging started${newline}" keepFileOpen="true"
           footer="${newline}${longdate} Shutdown${newline}" lineEnding="None" />
    <target name="errorFile" xsi:type="File" fileName="${basedir}/log/${processname}_error.txt"
            layout="${date:format=dd-MM HH\:mm\:ss.fff} [${level:uppercase=true:padding=-5}] ${callsite:className=True:fileName=False:includeSourcePath=False:methodName=True} - ${message}${newline}${exception:format=ToString,StackTrace}"
            archiveFileName="${basedir}/log/${processname}_error_${date:format=dd-MM-yyyy}_{#####}.txt" archiveEvery="Day" encoding="utf-8" maxArchiveFiles="999" archiveNumbering="Sequence"
            header="${longdate} Logging started${newline}" keepFileOpen="true"
            footer="${newline}${longdate} Shutdown${newline}" lineEnding="None" />
    <target name="warnFile" xsi:type="File" fileName="${basedir}/log/${processname}_warn.txt"
            layout="${date:format=dd-MM HH\:mm\:ss.fff} [${level:uppercase=true:padding=-5}] ${callsite:className=True:fileName=False:includeSourcePath=False:methodName=True} - ${message}${newline}${exception:format=ToString,StackTrace}"
            archiveFileName="${basedir}/log/${processname}_warn_${date:format=dd-MM-yyyy}_{#####}.txt" archiveEvery="Day" encoding="utf-8" maxArchiveFiles="999" archiveNumbering="Sequence"
            header="${longdate} Logging started${newline}" keepFileOpen="true"
            footer="${newline}${longdate} Shutdown${newline}" lineEnding="None" />
    <target name="debugFile" xsi:type="File" fileName="${basedir}/log/${processname}_debug.txt"
            layout="${date:format=dd-MM HH\:mm\:ss.fff} [${level:uppercase=true:padding=-5}] ${callsite:className=True:fileName=False:includeSourcePath=False:methodName=True} - ${message}${newline}${exception:format=ToString,StackTrace"
            archiveFileName="${basedir}/log/${processname}_debug_${date:format=dd-MM-yyyy}_{#####}.txt" archiveEvery="Day" encoding="utf-8" maxArchiveFiles="999" archiveNumbering="Sequence"
            header="${longdate} Logging started${newline}" keepFileOpen="true"
            footer="${longdate} Shutdown${newline}" lineEnding="None" />
    <target xsi:type="ColoredConsole"
          name="console"
          layout="${date:format=dd-MM HH\:mm\:ss.fff} [${level:uppercase=true:padding=-5}] ${callsite:className=True:fileName=False:includeSourcePath=False:methodName=True} - ${message}${newline}${exception:format=ToString,StackTrace"
            header="${newline}${longdate} Logging started"
            footer="${newline}${longdate} Shutdown" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="debugFile,console" />
    <logger name="*" minlevel="Info" writeTo="infoFile" />
    <logger name="*" minlevel="Warn" writeTo="warnFile" />
    <logger name="*" minlevel="Error" writeTo="errorFile" />
  </rules>
</nlog>